<a href="https://colab.research.google.com/github/firstChetsadakon/myLearnPython/blob/inclass/Chetsadakon_Kongphasuk_Assignment_2__Bangkok_AirBNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2 - Bangkok Airbnb dataset (15%, due 13th Oct 11.59 pm.)


Explore this [Bangkok Airbnb 2022 dataset](https://insideairbnb.com/get-the-data/) with Pandas on GoogleColab and answer these questions below. Note that every answer to the questions must accompany by python code displaying how to reach that answer. Failure to display the python code will result in a score deduction.

**Late submission will deduct 1% per day.**

File 1) calendar.csv - The calendar file records the price, availability, and other details in properties.
*   listing_id : Airbnb's unique identifier for the listing
*   date : The date in the listing's calendar
*   available : Whether the date is available for a booking [boolean T/F]
*   price : The price (baht) listed for the day.

File 2) listings.csv - The listings file includes essential information regarding properties.
*  id : Airbnb's unique identifier for the listing
* name : Name of the listing
* beds : a number of bedrooms in the listing,
* host_name: Name of the host. Usually, just the first name(s)
* neighbourhood_cleansed: a district name in Bangkok where the listing is.
* amenities: a desirable or useful feature(s) on the listing. This column is in a list of string format.
* property_type: Self-selected property type.

Answer the questions below.
1. What is the number of listing(rows) in calendar.csv and listings.csv?
**Ans** [6,231,645], [17,073]
2. How many of the listing properties with equal two or more beds are in the "Bang Sue" district?
**Ans** [73]
3.  How many unique items in "amenities" are shown in the listing? What are the top three most popular "amenities"?
**Ans** [993]
4.  How many listing records are in Sep 2022 on carlendar.csv? The same listing_id on different dates is considered a different record.
**Ans** [512190]
5. What is the highest average price on the listing? The average price is the average price of the same listing_id in all records/rows on the carlendar.csv.  
**Ans** [1417827.40]
6. How many listing_id(s) do we observe where the lowest and highest prices differ more than 10,000 baht?
**Ans** [43]
---

* From 6, we observe the variation in the price difference between the lowest and highest prices, which can help estimate the property’s value.

* If we hypothesize that the listing_ids with significant price changes indicate abnormal or malicious activity, these should be preprocessed and removed from the dataset.

**Intruction on preprocessing data.**

* Apply an outlier detection using the z-score statistical method on the *price difference* in each listing_id.
* We will assume that a listing_id with *z-score value more than 3.0 are malicious properties.* Any host_name associated with such listing_ids is considered to be malicious as well.

* Hint to calculate z-score [link](https://www.geeksforgeeks.org/detect-and-remove-the-outliers-using-python/)  
---
6. Who are the malicious hosts?
**Ans** ['Keiko And Pete' 'Nuttawut' 'Pongwich' 'FoRest' 'Oliver' 'Rohan' 'May']
7.  How many listing_id did each malicious host post?
**Ans**  [FoRest             ,3
          Keiko And Pete     ,1
          May               ,19
          Nuttawut           ,5
          Oliver             ,2
          Pongwich           ,2
          Rohan             ,31]

**Below this, please remove any malicious listing_id (a property with a z-score > 3) from the calculation.**

8.  Find The top 3 districts with the most listings.
**Ans** Khlong Toei, Vadhana, Huai Khwang
9.  Find the top 3 most common property_type.
**Ans**  Entire rental unit, Entire condo, Private room in rental unit
10. Which property (listing_id) is the most expensive, and how much is the most expensive property (listing_id)?
**Ans** [Most expensive property (listing_id): 28374239
Price: 1500000.00]
11. If we are looking for a property with two bedrooms in the Parthum Wan district,  how many options (`listing_id`) do we have?  
**Ans** 32120

12. If we are looking for a property with two bedrooms in the Parthum Wan district and has "review_scores_rating" >= 3,  how many options(listing_id) do we have?  
**Ans** 17885
`[Question 13-15 hint: average on average is taboo.]`


13. What is the average price of listing properties on question 12 conditions(two bedrooms in the Parthum Wan district and has "review_scores_rating" >= 3)?
**Ans**  2704.22 Bath
14. How much is the average price of all properties in Lat Krabang?
**Ans**  3500.93 Bath
15. Which district has the highest average price of properties in bangkok?
**Ans**  [Bang Khae, 4795.32 Bath]

In [ ]:
import pandas as pd
from ast import literal_eval
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 74)
pd.set_option('display.width', 500)

!gdown 1d0yPTxU6Q2ae6m0N9a9z2GEOZXbgErKY
!gdown 1cGJGnacPmbvQJ-lNeqaYp27BYFDbThEQ

df_Carl = pd.read_csv('/content/calendar.csv')
df_List = pd.read_csv('/content/listings.csv')

df_List["amenities"]= df_List['amenities'].apply(lambda x: literal_eval(str(x)))

Downloading...
From (original): https://drive.google.com/uc?id=1d0yPTxU6Q2ae6m0N9a9z2GEOZXbgErKY
From (redirected): https://drive.google.com/uc?id=1d0yPTxU6Q2ae6m0N9a9z2GEOZXbgErKY&confirm=t&uuid=d76db8fd-f535-4226-8f6a-02fc57585dab
To: /content/calendar.csv
100% 250M/250M [00:01<00:00, 187MB/s]
Downloading...
From: https://drive.google.com/uc?id=1cGJGnacPmbvQJ-lNeqaYp27BYFDbThEQ
To: /content/listings.csv
100% 36.4M/36.4M [00:00<00:00, 74.8MB/s]

Q1)  the number of calendar.csv and listings.csv are 6231645 and 17073, repectively.

In [ ]:
print(len(df_Carl),len(df_List)) #1

6231645 17073

In [ ]:
import pandas as pd

# สร้าง DataFrame ตัวอย่าง
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

print("Original DataFrame:")
print(df)

print("\nUsing .loc:")
print(df.loc[:3,:])  # เลือกแถวที่ 1 ถึง 3 และคอลัมน์ A และ C

print("\nUsing .iloc:")
print(df.iloc[0:4, 0:2])  # เลือกแถวที่ 1, 2, 3 (ไม่รวม 4) และคอลัมน์ที่ 0 และ 2

Original DataFrame:
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

Using .loc:
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

Using .iloc:
   A   B
0  1  10
1  2  20
2  3  30
3  4  40

In [ ]:
df_List.loc[:1, ['id', 'amenities']]

                   id                                          amenities
0  645048906856594097  [Kitchen, Air conditioning, Free parking on pr...
1            15636062  [Wifi, Kitchen, Washer, Air conditioning, Free...

2) How many of the listing properties with equal two or more beds are in the "Bang Sue" district?

In [ ]:
bang_sue_2plus_beds = df_List.loc[(df_List['neighbourhood_cleansed']=='Bang Sue')&(df_List['beds']>=2)]
print(f"Number of listings two or more beds in Bang Sue: {len(bang_sue_2plus_beds)}")

Number of listings two or more beds in Bang Sue: 73

3) How many unique items in "amenities" are shown in the listing? What are the top three most popular "amenities"?

In [ ]:
amenities = []

for amenities_lst in df_List['amenities']:
  for amenity in amenities_lst:
    amenities.append(amenity)

# print(amenities)

print(f"Number of unique amenities: {len(amenities)}")

amenities_df = pd.DataFrame(amenities,columns=['amenity'])
# amenities_df
top_amenities = amenities_df['amenity'].value_counts().sort_values(ascending=False)[0:3]
# print("Most three amenities")
top_amenities

Number of unique amenities: 343089

amenity
Long term stays allowed    16168
Air conditioning           15883
Wifi                       14496
Name: count, dtype: int64

4) How many listing records are in Sep 2022 on carlendar.csv? The same listing_id on different dates is considered a different record.

In [ ]:
sep_2022_listings = df_Carl[(df_Carl['date']>='2022-09-01')&(df_Carl['date']<='2022-09-30')]['listing_id']
print(f"Number of listing records in September 2022: {sep_2022_listings.count()}")

Number of listing records in September 2022: 512190

5) What is the highest average price on the listing? The average price is the average price of the same listing_id in all records/rows on the carlendar.csv.

In [ ]:
# print(df_Carl.columns) #เช็คชื่อ column
# print(df_Carl[["listing_id","price"]])
data_frame_avg_price = df_Carl.groupby(['listing_id'])['price'].mean()
# //print(data_frame_avg_price)
print(f'average price on the listing:\n')
data_frame_avg_price = data_frame_avg_price.sort_values(ascending=False)
print(data_frame_avg_price)
listing_with_highest_average = data_frame_avg_price.idxmax()

print(f'\nListing ID of Highest average price: {listing_with_highest_average}')
highest_avg_price = data_frame_avg_price.max()
print(f'\nhighest average price :{highest_avg_price:.2f}')

average price on the listing:

listing_id
28374239    1.417827e+06
41578696    3.033090e+05
12056763    3.000000e+05
13033135    3.000000e+05
29970931    2.638960e+05
                ...
40597532    3.040000e+02
40473104    3.040000e+02
38406752    3.040000e+02
40651692    3.030000e+02
19166672    3.000000e+02
Name: price, Length: 17073, dtype: float64

Listing ID of Highest average price: 28374239

highest average price :1417827.40

6) How many listing_id(s) do we observe where the lowest and highest prices differ more than 10,000 baht?

In [ ]:
price_diff = df_Carl.groupby('listing_id')['price'].agg(['min', 'max'])
price_diff['diff_amount'] = price_diff['max'] - price_diff['min']

diff_most_than_10k = price_diff[price_diff['diff_amount'] > 10000]['diff_amount']
print(f"Number of listings with price difference > 10,000 baht: {len(diff_most_than_10k)}")

Number of listings with price difference > 10,000 baht: 43

- From 6, we observe the variation in the price difference between the lowest and highest prices, which can help estimate the property’s value.

- If we hypothesize that the listing_ids with significant price changes indicate abnormal or malicious activity, these should be preprocessed and removed from the dataset.

Intruction on preprocessing data.

- Apply an outlier detection using the z-score statistical method on the price difference in each listing_id.

- We will assume that a listing_id with z-score value more than 3.0 are malicious properties. Any host_name associated with such listing_ids is considered to be malicious as well.


6.) Who are the malicious hosts?

In [ ]:
from scipy.stats import zscore
import numpy as np

df_merged = df_Carl.merge(df_List, left_on='listing_id',right_on='id')

price_diff = df_merged.groupby('listing_id')['price'].agg(['min', 'max'])
price_diff['diff_amount'] = price_diff['max'] - price_diff['min']

# price_diff['z_score'] = np.abs(zscore(price_diff['diff_amount']))
price_diff['z_score'] = zscore(price_diff['diff_amount'])
price_diff
malicious_id = price_diff[price_diff['z_score'] > 3]


malicious_hosts = malicious_id.merge(df_List, left_on='listing_id', right_on='id')
malicious_hosts = malicious_hosts['host_name'].unique()
print(f"Malicious hosts:{malicious_hosts}")

Malicious hosts:['Keiko And Pete' 'Nuttawut' 'Pongwich' 'FoRest' 'Oliver' 'Rohan' 'May']

7) How many listing_id did each malicious host post?

In [ ]:
malicious_host_listings = df_List[df_List['host_name'].isin(malicious_hosts)]
print("\nNumber of listings by each malicious host:")
print(malicious_host_listings.groupby('host_name')['id'].count())

Number of listings by each malicious host:
<bound method Series.to_dict of host_name
FoRest             3
Keiko And Pete     1
May               19
Nuttawut           5
Oliver             2
Pongwich           2
Rohan             31
Name: id, dtype: int64>

Below this, please remove any malicious listing_id (a property with a z-score > 3) from the calculation.

8) Find The top 3 districts with the most listings.

In [ ]:
valid_list = price_diff[price_diff['z_score'] <= 3].index
filtered_df = df_merged[df_merged['listing_id'].isin(valid_list)]

district_counts = filtered_df['neighbourhood_cleansed'].value_counts().sort_values(ascending=False).head(3)
print("\nTop 3 districts with most listings:")
print(district_counts)

Top 3 districts with most listings:
neighbourhood_cleansed
Khlong Toei    771610
Vadhana        771610
Huai Khwang    430335
Name: count, dtype: int64

9) Find the top 3 most common property_type.

In [ ]:
property_counts = filtered_df['property_type'].value_counts().sort_values(ascending=False).head(3)
print("\nTop 3 most common property types:")
print(property_counts)

Top 3 most common property types:
property_type
Entire rental unit             1476790
Entire condo                   1332250
Private room in rental unit     647875
Name: count, dtype: int64

10) Which property (listing_id) is the most expensive, and how much is the most expensive property (listing_id)?

In [ ]:
most_expensive = df_Carl.groupby('listing_id')['price'].max().idxmax()
max_price = df_Carl.groupby('listing_id')['price'].max().max()
print(f"\nMost expensive property (listing_id): {most_expensive}")
print(f"Price: {max_price:.2f}")

Most expensive property (listing_id): 28374239
Price: 1500000.00

11) If we are looking for a property with two bedrooms in the Parthum Wan district, how many options (listing_id) do we have?

In [ ]:
pathum_wan_2bed = filtered_df[(filtered_df['neighbourhood_cleansed'] == 'Parthum Wan') & (filtered_df['beds'] == 2)]

print(f"\nNumber of 2-bedroom properties in Pathum Wan: {len(pathum_wan_2bed)}")

Number of 2-bedroom properties in Pathum Wan: 32120

12) If we are looking for a property with two bedrooms in the Parthum Wan district and has "review_scores_rating" >= 3, how many options(listing_id) do we have?

In [ ]:
parthum_wan_room_score = filtered_df[ (filtered_df['neighbourhood_cleansed'] == 'Parthum Wan') &
                                      (filtered_df['beds'] == 2)&
                                      (filtered_df['review_scores_rating'] >= 3)
                                     ]['listing_id']
print(f"\nNumber of 2-bedroom properties in Pathum Wan with rating >= 3: {len(parthum_wan_room_score)}")

Number of 2-bedroom properties in Pathum Wan with rating >= 3: 17885

[Question 13-15 hint: average on average is taboo.]

13) What is the average price of listing properties on question 12 conditions(two bedrooms in the Parthum Wan district and has "review_scores_rating" >= 3)?

In [ ]:
filtered_properties = filtered_df[(filtered_df['neighbourhood_cleansed'] == 'Parthum Wan') & (filtered_df['beds'] == 2) & (filtered_df['review_scores_rating'] >= 3)]

average_price = filtered_properties['price'].mean()

print(f"The average price of listing properties : {average_price:.2f} Bath")

The average price of listing properties : 2704.22 Bath

14) How much is the average price of all properties in Lat Krabang?

In [ ]:
lat_krabang_properties = filtered_df[filtered_df['neighbourhood_cleansed'] == 'Lat Krabang']
average_price_lat_krabang = lat_krabang_properties['price'].mean()
print(f"\nAverage price of all properties in Lat Krabang: {average_price_lat_krabang:.2f}")

Average price of all properties in Lat Krabang: 3500.93

15) Which district has the highest average price of properties in bangkok?

In [ ]:
district_avg_price = filtered_df.groupby('neighbourhood_cleansed')['price'].mean().sort_values(ascending=False)


highest_avg_price_district = district_avg_price.idxmax()
print(f"\nDistrict with the highest average price: {highest_avg_price_district}")
print(f"Average price: {district_avg_price.max():.2f}")

Bang Khae

District with the highest average price: Bang Khae
Average price: 4795.32